<a href="https://colab.research.google.com/github/kujaharuka/free/blob/main/Activity_Data_Preprocessing_and_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
from scipy import stats
from sklearn.preprocessing import  StandardScaler
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [79]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [80]:
df.head() #There are 12 columns and 891 rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [84]:
df.shape

(891, 12)

In [81]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [82]:
df.duplicated().sum()

0

In [11]:
missing_data = df.isnull()

In [12]:
missing_data_summary = df.isnull().sum()

In [77]:
print(missing_data_summary) #Age, Cabin, and Embared are the columns that have missing datas

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [58]:
df['Age'] = pd.to_numeric(df['Age']).round().astype('Int64', errors='ignore')

In [60]:
df['Age'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: Age
Non-Null Count  Dtype
--------------  -----
714 non-null    Int64
dtypes: Int64(1)
memory usage: 8.0 KB

In [61]:
print(df['Age'])

0        22
1        38
2        26
3        35
4        35
       ...
886      27
887      19
888    <NA>
889      26
890      32
Name: Age, Length: 891, dtype: Int64

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   891 non-null    int64
 1   Survived      891 non-null    int64
 2   Pclass        891 non-null    int64
 3   Name          891 non-null    object
 4   Sex           891 non-null    object
 5   Age           714 non-null    Int64
 6   SibSp         891 non-null    int64
 7   Parch         891 non-null    int64
 8   Ticket        891 non-null    object
 9   Fare          891 non-null    float64
 10  Cabin         204 non-null    object
 11  Embarked      889 non-null    object
 12  standardized  891 non-null    float64
 13  z_score       891 non-null    float64
dtypes: Int64(1), float64(3), int64(5), object(5)
memory usage: 98.4+ KB

In [63]:
df['z_score'] = stats.zscore(df['Fare'])

In [64]:
outliers = df[(df['z_score'] > 500)]

In [65]:
print(outliers)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, standardized, z_score]
Index: []

In [66]:
scaler = StandardScaler()

In [67]:
df['standardized'] = scaler.fit_transform(df[['Fare']])

In [68]:
df['standardized'] = scaler.fit_transform(df[['Age']])

In [69]:
scaler = MinMaxScaler()

In [70]:
df[['Fare_scaled', 'Age_scaled']] = scaler.fit_transform(df[['Fare', 'Age']])

In [72]:
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male    22      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female    38      1
2                               Heikkinen, Miss. Laina  female    26      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female    35      1
4                             Allen, Mr. William Henry    male    35      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male    27      0
887                       Graham, Miss. Margaret Edith  female    19      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  <NA>      1
889                              Behr, Mr. Karl Howell    male    26      0
890                                Dooley, Mr. Patrick    male    32      0

     Parch            Ticket     Fare Cabin Embarked  standardized   z_score  \
0        0         A/5 21171   7.2500   NaN        S     -0.530046 -0.502445
1        0          PC 17599  71.2833   C85        C      0.572311  0.786845
2        0  STON/O2. 3101282   7.9250   NaN        S     -0.254457 -0.488854
3        0            113803  53.1000  C123        S      0.365619  0.420730
4        0            373450   8.0500   NaN        S      0.365619 -0.486337
..     ...               ...      ...   ...      ...           ...       ...
886      0            211536  13.0000   NaN        S     -0.185560 -0.386671
887      0            112053  30.0000   B42        S     -0.736738 -0.044381
888      2        W./C. 6607  23.4500   NaN        S           NaN -0.176263
889      0            111369  30.0000  C148        C     -0.254457 -0.044381
890      0            370376   7.7500   NaN        Q      0.158927 -0.492378

     Fare_scaled  Age_scaled
0       0.014151      0.2750
1       0.139136      0.4750
2       0.015469      0.3250
3       0.103644      0.4375
4       0.015713      0.4375
..           ...         ...
886     0.025374      0.3375
887     0.058556      0.2375
888     0.045771         NaN
889     0.058556      0.3250
890     0.015127      0.4000

[891 rows x 16 columns]